.awards-container {
    width: 100%;
    height: 850px;
    display: flex;
    align-items: flex-end;
    border-top: 2px solid colours.$line-break;
    border-bottom: 2px solid colours.$line-break;
}

.awards-a {
    grid-area: A;
}

.awards-b {
    grid-area: B;
}

.awards-c {
    grid-area: C;
}

.awards-d {
    grid-area: D;
}

.awards-e {
    grid-area: E;
}

.awards-f {
    grid-area:F;
}

.awards-g {
    grid-area: G;
}

.awards-h {
    grid-area: H;
}

.awards-i {
    grid-area: I;
}

.awards-j {
    grid-area: J;
}

.awards-k {
    grid-area: K;
}

.awards-l {
    grid-area: L;
}

.awards-m {
    grid-area: M;
}

.awards-n {
    grid-area: N;
}

.awards-line {
    grid-area: line;
    background-color: colours.$line-break;
    width: 100%;
    height: 2px;
}

.awards {
    width: 100%;
    height: 770px;
    display: grid;
    grid-template-columns: auto 285px 200px 150px;
    grid-row: 1fr 1fr 2px 1fr 1fr;
    grid-template-areas: 
    "A B C D"
    ". E F G"
    "line line line line"
    "H I J K"
    ". L M N";

    &__heading {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
    }

    &__heading--medium {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        &--small {
            display: block;
            padding-top: 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            mix-blend-mode: normal;
            opacity: 0.6;
        }

        &--year {
            justify-self: flex-end;
        }
    }
}

