// ------ Generic ------

@mixin generic {
    width: 80%;
    height: auto;
    font-family: font.$main-font;
    margin: auto;
}

@mixin flex-container {
    display: flex;
    width: 100%;
}

// ------ Navigation ------

@mixin nav-bar {
    @include flex-container;
    height: auto;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 60%;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
            
        &--projects {
            padding-right: 29px;
        }   
            
        & a {
            text-decoration: none;
            color: colours.$main;
        }

        & a:hover {
            color: lighten(colours.$main, 30%);
        }

    }
}

// ------ Header ------

@mixin heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
}

@mixin text {
    font-weight: 400;    
    font-size: 16px;
    line-height: 26px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

// ------ Footer ------

@mixin footer-nav-bar {
    .footer-icons {
        padding-left: 24px;
        padding-right: 24px;
    }
}