// ------ Authored Dependencies ------

@use "font";
@use "colours";
@import "mixin";

// ------ Navigation ------

@import "gallery";
@import "awards";

// ------ Generic ------

body {
    @include generic;
}

.nav-container {
    @include flex-container;
}

// ------ Navigation ------

.nav {
    @include nav-bar;
}

// ------ Header ------

.landing-container {
    @include flex-container;
    justify-content: space-between;
}

.landing-h1 {
    width: 58%;
    height: auto;

    &__text {
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
    }

    &__text--small {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.423077px;
        color: colours.$secondary;
    }
    
    &__text--alt-colour {
        color: colours.$secondary;
    }

}

.landing-aside {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__text {
        font-weight: 400;
        font-size: 18px;
        font-style: italic;
        line-height: 23px;
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    &__text::before {
        content: "";
        display: block;
        width: 30px;
        border-bottom: 2px solid rgba(17, 17, 17, .5);
        margin-bottom: 9px; 
    }
}

// ------ Service ------

.service {
    @include flex-container;
    height: 300px;
    align-items: center;
    justify-content: space-between;

    &__heading {
        width: 55%;
        height: 100px;
        display: flex;
        align-items: center;

        & h2 {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;          
        }
    }
}

.service-list {
    width: 35%;
    height:100px;
    display: flex;
    flex-flow: column wrap;

    & li {
        list-style: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    &__item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// ------ Footer ------

.footer {
    @include nav-bar;
    @include footer-nav-bar;
    margin-top: 40px;
}
