body {
  width: 80%;
  height: auto;
  font-family: "Mulish", sans-serif;
  margin: auto;
}

.nav-container {
  display: flex;
  width: 100%;
}

.nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 60%;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links a {
  text-decoration: none;
  color: #111;
}
.nav__links a[href*=projects] {
  padding-right: 29px;
}

.landing-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.landing-h1 {
  width: 58%;
  height: auto;
}
.landing-h1__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
.landing-h1__text--small {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4A4FF2;
}
.landing-h1__text--alt-colour {
  color: #4A4FF2;
}

.landing-aside {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.landing-aside__text {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  line-height: 23px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.landing-aside__text::before {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.5);
  margin-bottom: 9px;
}

.service {
  display: flex;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: space-between;
}
.service__heading {
  width: 55%;
  height: 100px;
  display: flex;
  align-items: center;
}
.service__heading h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}

.service-list {
  width: 35%;
  height: 100px;
  display: flex;
  flex-flow: column wrap;
}
.service-list li {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.service-list__item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.awards-container {
  width: 100%;
  height: 850px;
  display: flex;
  align-items: flex-end;
  border-top: 2px solid #D8D8D8;
  border-bottom: 2px solid #D8D8D8;
}

.awards-a {
  grid-area: A;
}

.awards-b {
  grid-area: B;
}

.awards-c {
  grid-area: C;
}

.awards-d {
  grid-area: D;
}

.awards-e {
  grid-area: E;
}

.awards-f {
  grid-area: F;
}

.awards-g {
  grid-area: G;
}

.awards-h {
  grid-area: H;
}

.awards-i {
  grid-area: I;
}

.awards-j {
  grid-area: J;
}

.awards-k {
  grid-area: K;
}

.awards-l {
  grid-area: L;
}

.awards-m {
  grid-area: M;
}

.awards-n {
  grid-area: N;
}

.awards-line {
  grid-area: line;
  background-color: #D8D8D8;
  width: 100%;
  height: 2px;
}

.awards {
  width: 100%;
  height: 770px;
  display: grid;
  grid-template-columns: auto 285px 200px 150px;
  grid-row: 1fr 1fr 2px 1fr 1fr;
  grid-template-areas: "A B C D" ". E F G" "line line line line" "H I J K" ". L M N";
}
.awards .awards__heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.awards__heading--medium {
  font-weight: 700d;
  font-size: 18px;
  line-height: 23px;
}
.awards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.awards__text--small {
  display: block;
  padding-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.awards__text--year {
  justify-self: flex-end;
}

.footer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.footer__logo {
  width: 60%;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links a {
  text-decoration: none;
  color: #111;
}
.footer__links a[href*=projects] {
  padding-right: 29px;
}
.footer .footer-icons {
  padding-left: 24px;
  padding-right: 24px;
}

/*# sourceMappingURL=index.css.map */
