@use 'font';
@use 'colours';
@import 'mixin';

body {
    width: 85%;
    height: auto;
    font-family: font.$main-font;
    margin: auto;
}

.container {
    @include flex-container;
}

.nav {
    @include nav-bar;
}
  
.footer {
    @include nav-bar;
    @include footer-nav-bar;
}
