// ------ Authored Dependencies ------

@use "font";
@use "colours";
@import "mixin";

// ------ Generic ------

body {
    @include generic;
}

// ------ Navigation ------

.nav-container {
    @include flex-container;
    margin-bottom: 30px;
}

.nav {
    @include nav-bar;
}

// ------ Header ------

.projects-header-container {
    @include flex-container;
    height: 380px;
    justify-content: space-between;
}

.projects-header {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__heading {
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 25px;
    }

    &__text{
        font-weight: 400;    
        font-size: 16px;
        line-height: 26px;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}

// ------ Aside ------

.projects-aside {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
}

.table {
    padding: 17px;
    mix-blend-mode: normal;
    border-bottom: 1px solid colours.$border-bottom-line;

    &--property {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        mix-blend-mode: normal;
        opacity: 0.5;
        padding-left: 0;
    }

    &--value {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
    }
}

// ------ Images ------

.projects-main-img-container {
    @include flex-container;
    height: 940px;
    align-items: center;
}

.projects-sub-img-container {
    @include flex-container;
    justify-content: space-between;
}

.projects-sub-img {
    width: 32%;
    padding-bottom: 20px;
}

.projects-img {
    width: 100%;
    
    &__sub-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        mix-blend-mode: normal;
        opacity: 0.8;
        padding: 45px 0 45px 0;
    }
}

// ------ Footer ------

.footer {
    @include nav-bar;
    @include footer-nav-bar;
    margin-top: 40px;
}
